* {
    margin: 0;
    padding: 0;
    
}



.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    height: 100vh;
    width: 100vw;
    
}

.sidebar {
    background-color: rgb(37, 165, 229);
    display: grid;
    grid-column: 1;
    grid-row: 1 / 3;
    grid-template-rows: 1fr 3fr 5fr;
    
   
    
}

.sidebar ul {
    display:grid;
    gap: 10px;
    
}

.logo-container {
    text-align: center;
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    width: 3vw;
}

.sidebar-icon,
.header-icon {
    width: 20px;
}

.search-box {
    border: 1px solid black;
    border-radius: 25px;
    width: 50vw;
    height: 2rem;
}

li {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 10px;
}

.header {
    display: grid;
    grid-template-rows: 1fr 2fr;
    background-color: rgb(233, 235, 235);
    grid-column: 2; 
    
}

.header-first-row {
    display: flex;
    justify-content: space-around;
}

.name {
    font-size: 20px;
    color: black;
}

.header-second-row-1 {
    display: flex;
    gap: 10px;
    align-items: center; 
}

button {
  
    background-color: aquamarine;
    margin: 1rem;
    padding: 0.3rem;
    border-radius: 15px;
    width: 80px;
    align-items: center; 
}



.search-area {
    display: flex;
    gap: 20px;
}

.name-area {
    display: flex;
    gap: 20px;
    align-items: center;
}

.header-second-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}



.header-menu > ul,
.header-menu > li {
    display: flex;
    gap: 50px;
    border-radius: 10px;
    
}

.big-avatar {
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
}

.avatar {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
}



.main {
    background-color: rgb(223, 223, 223);
    grid-column: 2;
    gap: 30px;
    display: grid;
    grid-template-columns: 2fr 1fr;
   
   
}


.left-side * div {
    border: solid 1px black;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(233, 233, 233);
  
    
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
    height: 500px;
    
    
    
}



.trending, .announcements {
    border: solid 1px black;
    background-color: rgb(233, 233, 233);
    border-radius: 10px;
    padding: 20px;
    display: grid;
  
}

.announcements * p,
.trending * p {
    font-size: 14px;
}


.announcements {
    margin-bottom: 1rem;
}

p {
    color: rgb(87, 86, 86);
    
}

hr {
    border: 1px solid rgba(148, 145, 145, 0.321);
    margin-top: 1rem;
    margin-bottom: 1rem;
 
}

h4 {
    padding-bottom: 0.5rem;
    
}

.header,
.sidebar,
.main {
    padding-left: 20px;
    padding-right: 20px;
}





