@font-face {
    font-family: Lato Regular; 
    src: url(fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: Lato Bold; 
    src: url(fonts/Lato-Bold.ttf);
}

@font-face {
    font-family: Barriecito;
    src: url(fonts/Barriecito-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    width: 100%;
    height: 100%;
}

:root {
    --primary-color: #6221bf;
    --text-primary:  rgb(7, 7, 7);
    --text-secondary: rgb(88, 87, 87);
}





h3 {
    font-family: Lato Bold, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, 
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 800;
    color: var(--primary-color);
}

h4 {
    font-size: 1.1rem;
}

h4, h5 {
    font-family: Lato Bold, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, 
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: var(--text-primary);
}



p, li {
    font-family: Lato Regular, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, 
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.dot {
height: 2rem;
width: 2rem;
background-color: var(--primary-color);
border-radius: 10%;

}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4fr;
 
    
}

.sidebar {
    background-image: linear-gradient(to bottom right, rgb(118, 240, 226), rgb(161, 116, 164));
    display: grid;
    grid-column: 1;
    grid-row: 1 / 3;
    grid-template-rows: 1fr 2fr 5fr;
  
    
   
    
}

.sidebar ul {
    display:grid;
    gap: 10px;
    
}

.logo-container {
    text-align: center;
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    width: 3vw;
}


.sidebar-icon,
.header-icon {
    width: 20px;
    
}

.search-box {
    border: 1px solid rgb(50, 26, 60);
    border-radius: 25px;
    width: 50vw;
    height: 1.7rem;
}

li {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 10px;
}

.header {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    background-color: #edebed;
    
    
}



.header-first-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name {
    font-size: 18px;
    color: rgb(26, 55, 51);
    font-weight: bold;
  }

  .small-name {
    font-family: Lato Regular, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, 
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: rgb(26, 55, 51);
  }

  

.header-second-row-1 {
    display: flex;
    gap: 10px;
    align-items: center; 
    
}

button {
  
    background-color: var(--primary-color);
    margin: 1rem;
    padding: 0.3rem;
    border-radius: 15px;
    border: solid 1px #1b0539;
    width: 80px;
    align-items: center; 
    color: #fffff0;
    font-weight: 700;
}



.search-area {
    display: flex;
    gap: 20px;
}

.name-area {
    display: flex;
    gap: 20px;
    align-items: center;
}

.header-second-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}



.header-menu > ul,
.header-menu > li {
    display: flex;
    gap: 50px;
    border-radius: 10px;
    
}

.big-avatar {
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
}

.avatar {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
}



.main {
    background-color: #fffff0;
    padding-top: 1rem;
    gap: 15px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 20px;
   box-sizing: border-box;
   
    
    
}



.left-side * .box {
display: flex;
flex-direction: column;
padding: 20px;
border: solid 1px black;
box-sizing: border-box;
border-radius: 10px;
background-color: rgb(230, 238, 237);
border-left: rgb(44, 158, 184) 5px solid;
}


.box > :nth-child(3) {
    display: flex;
    margin-top: auto;
    align-self: end;
    gap: 10px;
  
    
}

.cards * h5 {
    font-size: 1rem;
}

.cards * p {
    font-size: 1rem;
}

.box * img {
 width: 1.5vw;
 
}




.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 15px;
    height: 95%;
    box-sizing: border-box;
    
}



.trending, .announcements {
    border: solid 1px black;
    background-color: rgb(230, 238, 237);
    border-radius: 10px;
    padding: 20px;
    
   
    
    
}

.trending > .box {
    display: flex;
    align-items: center;
    gap: 10px;
}


.trending {
   display: grid;
    gap: 10px;
    
    
}

.announcements * p,
.trending * p {
    font-size: 14px;
    
}


.announcements {
    margin-bottom: 1rem;
    
}



p {
    color: var(--text-secondary);
    
}

hr {
    border: 1px solid rgba(148, 145, 145, 0.321);
    margin-top: 1rem;
    margin-bottom: 1rem;
 
}

h4 {
    padding-bottom: 0.5rem;
    
}

.header,
.sidebar,
.main {
    padding-left: 20px;
    padding-right: 20px;
}

.right-side {
    display: grid;
}
